/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
@font-face {
  font-family: 'Martel Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Martel Sans Regular'), local('MartelSans-Regular'), url(https://fonts.gstatic.com/s/martelsans/v6/h0GsssGi7VdzDgKjM-4d8hjYx-s.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Mu4mxP.ttf) format('truetype');
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Martel Sans', sans-serif;
  color: white;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: inherit;
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3.2rem;
  padding-bottom: 10px;
}
h4 {
  font-size: 2.5rem;
  padding-bottom: 10px;
}
p {
  line-height: 1.5;
  font-size: 1.6rem;
  padding-bottom: 10px;
}
img {
  max-width: 100%;
  height: auto;
}
.container {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}
#content nav {
  border-top: 1px solid #FB0004;
  font-family: 'Roboto', sans-serif;
  width: 100%;
  display: flex;
  justify-content: space-around;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), #000000);
  padding-top: 25px;
  position: fixed;
  overflow: hidden;
  bottom: 0;
  height: 100px;
  padding-bottom: 16px;
}
#content nav .box1 {
  width: 20%;
}
#content nav .box1 img {
  height: 100%;
  display: block;
  margin: 0px auto;
  min-width: 216px;
}
#content nav .box2 {
  width: 60%;
  text-align: center;
  display: flex;
  justify-content: space-around;
  padding-right: 3%;
  line-height: 50px;
  cursor: pointer;
}
#content nav .box2 .miniBox {
  width: 30%;
}
#content nav .box2 .miniBox:hover {
  color: rgba(255, 255, 255, 0.75);
  border-radius: 32px;
}
#content nav .box2 .miniBox:active {
  color: rgba(255, 255, 255, 0.25);
}
#content nav .box3 {
  width: 20%;
}
#content nav .box3 button {
  display: flex;
  justify-content: center;
  cursor: pointer;
  width: 80%;
  height: 75px;
  font-size: 1rem;
  border: 1px black solid;
  border-radius: 10px;
  padding: 10px;
  background-color: #FB0004;
  color: #FFFFFF;
  margin-top: -10px;
}
#content nav .box3 button:hover {
  background-color: rgba(0, 0, 0, 0);
  color: #FB0004;
}
#content nav .box3 button:active {
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid #EF01A0;
  color: #FFFFFF;
}
#content nav .box3 button h1 {
  font-size: 2.4rem;
}
@media ( max-width: 800px ) {
  #content nav {
    padding-top: 0px;
    height: 250px;
    flex-direction: column;
  }
  #content nav .box1 {
    height: 75px;
    width: 100%;
  }
  #content nav .box2 {
    height: 150px;
    width: 100%;
  }
  #content nav .box2 h2 {
    font-size: 2.2rem;
  }
  #content nav .box3 {
    width: 100%;
  }
  #content nav .box3 button {
    height: 75px;
    width: 100%;
  }
}
@media ( max-width: 500px ) {
  #content nav {
    padding-top: 0px;
    height: 250px;
    flex-direction: column;
  }
  #content nav .box1 {
    height: 75px;
    width: 100%;
  }
  #content nav .box2 {
    height: 150px;
    width: 100%;
  }
  #content nav .box2 h2 {
    font-size: 2.2rem;
  }
  #content nav .box3 {
    width: 100%;
  }
  #content nav .box3 button {
    height: 75px;
    width: 100%;
  }
}
.footer {
  width: 100%;
  border-top: 2px dashed silver;
  background: #FFEBCD;
}
.footer p {
  text-align: center;
  color: #212529;
  font-size: 1.6rem;
  padding: 20px;
}
#content {
  height: 100vh;
  padding-top: 5vh;
  background-image: url('../img/bg2.jpg');
  background-color: black;
  background-repeat: no-repeat;
  background-size: cover;
}
#content #intro {
  border: 1px grey solid;
  background-color: rgba(0, 0, 0, 0.8);
  width: 90vw;
  max-width: 1920px;
  max-height: 1080px;
  height: 80vh;
  margin: 25px auto 0px auto;
  text-align: center;
}
#content #intro .titleSubtitle {
  padding-top: 60px;
  line-height: 12rem;
  height: 40vh;
  line-height: 12vh;
  margin-top: 5vh;
}
#content #intro .titleSubtitle h1 {
  width: 100%;
  margin: 0px auto;
  font-size: 10em;
}
#content #intro .titleSubtitle h3 {
  font-size: 4rem;
}
#content #intro .titleSubtitle p {
  font-size: 2rem;
}
#content #intro .leadIn {
  float: right;
  height: 29vh;
  border: 1px orange solid;
  width: 45vw;
}
#content #features {
  width: 90vw;
  margin: 0px auto;
  display: flex;
  flex-direction: column;
  height: 80vh;
  overflow-y: auto;
}
#content #features .box {
  background-color: black;
  border: 1px grey solid;
  width: 60%;
  margin: auto;
  padding: 10px 50px;
  text-align: center;
  color: white;
  border-radius: 30px;
}
#content #features .box h2 {
  color: white;
  font-size: 4.2rem;
  border-bottom: 1px solid grey;
}
#content #features .box p {
  padding-top: 15px;
  font-size: 2.5rem;
}
#content #team {
  height: 80vh;
  width: 90vw;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 0px auto;
  overflow-y: auto;
}
#content #team .title {
  padding-top: 25px;
  min-width: 500px;
  height: 100px;
  margin: 5px auto;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 20px;
}
#content #team .teamMembers {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  color: black;
  background-color: rgba(0, 0, 0, 0.5);
}
#content #team .teamMembers .photo {
  width: 75px;
}
#content #team .teamMembers .column {
  height: auto;
  text-align: center;
  font-size: 2.6rem;
  line-height: 5rem;
  width: 18%;
  overflow-y: auto;
}
#content #team .teamMembers .column .box {
  margin: 15px 0px;
  padding: 20px;
  background-color: rgba(127, 127, 127, 0.5);
}
#content #team .teamMembers .column .box:hover {
  opacity: 0.95;
}
#content #team .teamMembers .column .box:active {
  opacity: 1;
}
#content #team .teamMembers .column .box a {
  text-decoration: none;
  color: white;
}
#content #team .teamMembers .column .box img {
  width: 200px;
}
#content #team .teamMembers .column h2 {
  color: white;
  font-size: 3.4rem;
}
#content #team .teamMembers .column h3 {
  font-size: 2rem;
}
@media ( max-width: 800px ) {
  #content #intro {
    height: 60vh;
  }
  #content #intro .titleSubtitle h1 {
    font-size: 4.4rem;
  }
  #content #intro .titleSubtitle h3 {
    font-size: 2.8rem;
  }
  #content #intro .titleSubtitle p {
    display: none;
  }
  #content #features {
    width: 100%;
    height: 60vh;
  }
  #content #features .box {
    width: 80%;
    margin: 10px auto;
  }
  #content #team {
    height: 60vh;
    width: 100%;
    flex-wrap: wrap;
    margin: 0px auto;
    overflow-y: auto;
  }
  #content #team .title {
    width: 50vw;
  }
  #content #team .teamMembers .column {
    width: 90%;
    height: auto;
  }
  #content #team .teamMembers .column .box {
    width: 80%;
    margin: 5px auto;
  }
}
@media ( max-width: 500px ) {
  #content {
    flex-direction: column;
  }
  #content #intro {
    height: 40vh;
  }
  #content #intro .titleSubtitle {
    height: 100%;
  }
  #content #intro .titleSubtitle h1 {
    font-size: 32px;
  }
  #content #intro .titleSubtitle h3,
  #content #intro .titleSubtitle p {
    display: none;
  }
  #content #features {
    height: 50vh;
  }
  #content #features .box {
    margin: 6px 0px;
    width: 100%;
  }
  #content #features .box h2 {
    color: white;
    font-size: 2.2rem;
  }
  #content #features .box p {
    font-size: 1.6rem;
  }
  #content #team {
    height: 60vh;
    width: 100%;
    overflow-y: auto;
    flex-wrap: wrap;
    margin: 0px auto;
  }
  #content #team .title {
    display: none;
  }
  #content #team .teamMembers .column {
    width: 100%;
    height: auto;
  }
}
