
// Color assignments 
@font-color: @shark;
@button-bg: @eastern-blue;
@main-bg:  @white;
@navigation-border: @silver;
@footer-bg: @sandy-beach;

// Colors
@white: #FFFFFF;
@silver: #C0C0C0;
@shark: #212529;
@eastern-blue: #17A2B8;
@sandy-beach: #FFEBCD;
@fun-font: 'Indie Flower', cursive;

@mainRed: #FB0004;
@mainPurple: #80007F;
@featureTitles: #1ED760;
@spotifyGreen: #1ed761;

@opacityLighter: rgba(255,255,255,0.5);
@opacityBG: rgba(0,0,0,0.5);
@opacityDarker: rgba(0,0,0,0.8);

@fadedOpacityBT: linear-gradient( rgba(0,0,0,0.5), rgba(0,0,0,1));

@divHeight: 80vh;

@gradientRedPurple: linear-gradient(@mainRed, @mainPurple);

// Escape variables
@phone: ( max-width: 500px );
@tablet: ( max-width: 800px );